# ==============================================================================
# 如何使用.env
# -------------
# 拷贝 .env.example 到 .env，根据你的环境配置修改 .env。
#
# 欲知 .env 文件的更多写法，请参考：
# - [snowair/think-dotenv](https://github.com/snowair/think-dotenv)
# - [PHP Dotenv](https://github.com/josegonzalez/php-dotenv)
# ==============================================================================

# 系统常量
# --------
APP_DEBUG=false                     # 是否开启调试模式
BUILD_DIR_SECURE=false              # 是否生成目录安全文件

# 默认设定
# --------
DEFAULT_TIMEZONE=Asia/Shanghai      # 默认时区

# 数据库
# ------
DB_TYPE=mysql
DB_HOST=database
DB_NAME=thinkblog
DB_USER=root
DB_PWD=P@55w0rd
DB_PORT=3306
DB_PREFIX=thinkblog_
DB_CHARSET=utf8
DB_COLLATION=utf8_unicode_ci

# 日志
# ----
LOG_RECORD=true
LOG_LEVEL=EMERG,ALERT,CRIT,ERR
LOG_TYPE=File
LOG_EXCEPTION_RECORD=false          # 是否记录异常信息日志

# URL设置
# --------
URL_MODEL=2                         # URL访问模式,可选参数0、1、2、3,代表以下四种模式：
                                    # 0 (普通模式);
                                    # 1 (PATHINFO 模式);
                                    # 2 (REWRITE  模式);
                                    # 3 (兼容模式)  默认为PATHINFO 模式
URL_HTML_SUFFIX=''                  # URL伪静态后缀设置
