# ThinkPHP
Application/Runtime

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar

# NPM packages
/node_modules

# Vagrant
.vagrant
_vagrant/puphpet/files/dot/ssh

# composer vendor dir
/vendor

# .env
.env
.env.*
!.env.example

# Laravel Mix manifest
mix-manifest.json
webroot/Public/css/*.css
webroot/Public/js/*.js
webroot/Public/fonts/
