<div class="container">
    <h1 translate>LOGIN</h1>

    <form name="form" ng-submit="$ctrl.login()" role="form" class="form-horizontal">
        <div class="form-group"
            ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }"
        >
            <label for="name" class="control-label col-sm-2">
                {{ 'USER_NAME' | translate }}{{ 'COLON' | translate }}
            </label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="name" name="name"
                    placeholder="{{ 'USER_NAME' | translate }}"
                    ng-model="$ctrl.username" autofocus="true">
                <span ng-show="form.username.$dirty && form.username.$error.required"
                    class="help-block" translate
                >
                    NAME_REQUIRED
                </span>
            </div>
        </div>

        <div class="form-group"
            ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }"
        >
            <label for="password" class="control-label col-sm-2">
                {{ 'PASSWORD' | translate }}{{ 'COLON' | translate }}
            </label>
            <div class="col-md-3">
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="{{ 'PASSWORD' | translate }}"
                    ng-model="$ctrl.password">
                <span ng-show="form.password.$dirty && form.password.$error.required"
                    class="help-block" translate
                >
                    PASSWORD_REQUIRED
                </span>
            </div>
        </div>

        <div class="form-actions">
            <div class="col-sm-offset-2 col-sm-4">
                <input type="submit" class="btn btn-success"
                    translate-attr="{ value: 'LOGIN' }"
                    ng-disabled="form.$invalid || $ctrl.dataLoading"
                >
                <img ng-if="$ctrl.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a href="#!/signup" class="btn btn-default btn-link" translate>SIGN_UP</a>
            </div>
        </div>
    </form>
</div>
