<div class="container post-list">
    <div class="row">
        <div class="col-md-12">
            <h1 translate>POST_LISTING</h1>
        </div>
    </div>

    <div class="row"
        ng-show="!!$root.globals.currentUser.id"
    >
        <div class="col-md-12">
            <div class="btn-toolbar" role="toolbar" aria-label="post-toolbar">
                <div class="btn-group" role="group" aria-label="post-filter">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ 'FILTER_BY_AUTHOR' | translate }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('/posts')}" translate>ALL_POSTS</a></li>
                        <li><a href="{:U('/posts', ['filter' => 'author|me'])}" translate>MY_POSTS</a></li>
                    </ul>
                </div>
                <div class="btn-group" role="group" aria-label="create-post">
                    <a ui-sref="post-create" class="btn btn-primary" translate>CREATE_POST</a>
                </div>
            </div>
        </div>
    </div>

    <div class="post-listing row">
        <div class="col-md-10">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center text-nowrap" translate>SERIAL_NO</th>
                        <th class="text-center text-nowrap" translate>TITLE</th>
                        <th class="text-center text-nowrap" translate>CONTENT</th>
                        <th class="text-center text-nowrap" translate>AUTHOR</th>
                        <th class="text-center text-nowrap" translate>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="post in $ctrl.data.data">
                        <td class="text-nowrap">{{ $ctrl.data.queryParams.pageSize * ($ctrl.data.queryParams.page - 1) + $index + 1 }}</td>
                        <td class="text-nowrap"><a ui-sref="post-view({ id: post.id })">{{ post.title }}</a></td>
                        <td>{{ post.content }}</td>
                        <td class="text-nowrap">{{ post.author.name }}</td>
                        <td class="text-nowrap">
                            <button type="button" class="btn btn-primary"
                                ng-disabled="$root.globals.currentUser.id !== post.author_user_id"
                                ng-click="$ctrl.editPost(post.id)" translate
                            >
                                CHANGE
                            </button>
                            <button type="button" class="btn btn-danger"
                                mwl-confirm
                                data-title="<h5 class='text-center'><strong>{{ 'CONFIRM_TITLE' | translate }}</strong></h5>"
                                message="{{ 'CONFIRM_TO_DELETE_POST' | translate }}"
                                confirm-text="<i class='glyphicon glyphicon-ok'></i> {{ 'YES' | translate }}"
                                cancel-text="<i class='glyphicon glyphicon-remove'></i> {{ 'NO' | translate }}"
                                on-confirm="$ctrl.deletePost(post.id)"
                                confirm-button-type="success"
                                cancel-button-type="danger"
                                focus-button="confirm"
                                animation="true"

                                ng-disabled="$root.globals.currentUser.id !== post.author_user_id"
                                translate
                            >
                                DELETE
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <ul uib-pagination
                                boundary-links="true"
                                total-items="$ctrl.data.count"
                                ng-model="$ctrl.data.queryParams.page"
                                class="pagination-sm"
                                previous-text="&lsaquo;"
                                next-text="&rsaquo;"
                                first-text="&laquo;"
                                last-text="&raquo;"
                                ng-change="$ctrl.pageChange()"
                            ></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <form class="delete-post-form form-inline" action="#" method="POST">
        </form>
    </div>
</div>
