<div class="container">
    <h1>{$Think.lang.APPLICATION_NAME}</h1>

    <h4>{$Think.lang.APPLICATION_SHORT_DESC}</h4>

    <p>{$Think.lang.HOMEPAGE_DESC}</p>

    <ul>
        <li>{:L('REMOVE_ENTRY_IN_URL', ['entry_file' => 'index.php'])}</li>
        <li>{$Think.lang.DEV_USING_DOCKER}</li>
        <li>{$Think.lang.CONFIG_IN_ENV}</li>
        <li>{$Think.lang.BASIC_CRUD}</li>
        <li>{$Think.lang.BUILD_WITH_LARAVEL_MIX}</li>
        <li>{$Think.lang.USER_AUTH}</li>
        <li>{$Think.lang.MULTI_LANGUAGES}</li>
        <li>{$Think.lang.WEB_API}</li>
        <li>{$Think.lang.ANGULARJS_1_CLIENT}</li>
    </ul>
</div>
