<div class="container">
    <h1>{$Think.lang.LOGIN}</h1>

    <if condition="!empty($validationError)">
    <div class="alert alert-danger">
        <ul>
            <li>{$validationError}</li>
        </ul>
    </div>
    </if>

    <form action="{U('/users/login')}" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="title" class="control-label col-sm-2">{$Think.lang.USER_NAME}{$Think.lang.COLON}</label>
            <div class="col-md-6">
                <input type="text" name="name" placeholder="{$Think.lang.USER_NAME}" value="{$user['name']}">
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="control-label col-sm-2">{$Think.lang.PASSWORD}{$Think.lang.COLON}</label>
            <div class="col-md-6">
                <input type="password" name="passwordd" placeholder="{$Think.lang.PASSWORD}">
            </div>
        </div>

        <!-- <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <input type="text" name="recaptcha" placeholder="验证码">
                <img src="__CONTROLLER__/verifyImg" onClick="this.src=this.src+'?'+Math.random()">
            </div>
        </div> -->

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">{$Think.lang.REMEMBER_ME}</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <input type="submit" value="{$Think.lang.LOGIN}">
            </div>
        </div>
    </form>
</div>
