<?php
    // require_once '../vendor/autoload.php';
    require_once '../mix.php';
?>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="<?php echo mix('css/app.css'); ?>" />
</head>
<body>
    <!-- <header>
        <include file="Layout/header" />
    </header> -->

    <include file="Layout/menu" />

    <!-- <aside>
    </aside> -->

    <section>
        {__CONTENT__}
    </section>

    <footer class="footer">
        <include file="Layout/footer" />
    </footer>

    <script src="<?php echo mix('js/app.js'); ?>"></script>
</body>

</html>
