<div class="container">
    <h1>写新文章</h1>

    <form action="{:U('/posts/add/')}" method="post">
        <div>
            <label for="title">标题：</label>
            <input type="text" id="title" name="title" value="{$post['title']}"/>
        </div>
        <div>
            <label for="content">内容：</label>
            <textarea id="content" name="content">{$post['content']}</textarea>
        </div>
        <div>
            <input type="submit" value="保存">
            <a href="{:U('/posts')}">取消</a>
        </div>
    </form>
</div>
